body {
  background-image: url("../img/general/background.png");
}

#hardware {
  height: auto;
  display: none;
  position: fixed;
  top: 10%;
  left: 20%;
  margin: 0 auto;

}

#hardware img {
  width: 1400px;
  height: auto;
  border: 8px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(3, 50, 3, 0.8);
}

#openinglayout {
  position: absolute;
  top: 3%;
  left: 20%;
}


h2 {
  display: inline;
  font-size: 2rem;
}

.game {
  display: none;
  position: absolute;
  top: 110px;
  left: 130px;
}

.introduction {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/life cycle.jpg");
  background-size: 100vw 100vh;
}

.introduction:hover {
  background-image: url("../img/fire.jpg")
}


.introduction img {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.introduction h2 {
  /*position: absolute;*/
  text-align: center;
  padding-top: 4vh;
  color: white;
  letter-spacing: 0.6vw;
}
.introduction h1 {
  position: absolute;
  text-align: center;
  margin-top: 5vh;
  font-size: 30vh;
  color: rgba(255, 255, 255, 1);
}

#difficulties button {
  font-family: fantasy;
}

#easy{
  font-weight: bold;
  background-color: lightgrey;
  color: black;
  width:100px;
  margin-top: 80vh;
  margin-left: 40vw;
}
#normal{
  font-weight: bold;
  background-color: lightgrey;
  color: black;
  width: 100px;
  margin-top: 80vh;
  margin-left: 5vh;
}

#hard{
  font-weight: bold;
  background-color: lightgrey;
  color: black;
  width: 100px;
  margin-top: 80vh;
  margin-left: 5vh;
}



.color {
  font-size: 2rem;
  color: red;
  font-weight: bolder;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}



.gameOver {
  display: none;
  height: 100vh;
  width: 100vw;
  background-image: url('../img/welcometohell.jpg');
  background-size: 100vw 100vh;
}

#scorelayout {
  position: absolute;
  top: 3%;
  left: 31%;


}

.gameOver h1 {
  position: absolute;
  text-align: center;
  margin-top: 5vh;
  font-size: 30vh;
  color: rgba(255, 255, 255, 1);
}

.gameOver h2 {
  text-align: center;
  color: white;
  letter-spacing: 1vw;
  text-decoration: underline;
}

.gameOver h2 .yourscore {
  margin-top: 73vh;
  text-align: center;
  font-size: 5vh;
}

.gameOver h2 .topscores {
  position: absolute;
  margin-top: 78vh
  text-align: center;
  font-size: 5vh;
}

.gameOver ul .scores{
  text-align: center;
  list-style: none;
  font-size: 5vh;
  position: absolute;
  color: white;
}

.gameOver li .scores{
  text-align: center;
  list-style: none;
  font-size: 5vh;
  position: absolute;
  color: white;
}

* { padding: 0; margin: 0; }

canvas {
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 5px;
}

#health-container{
  position: relative;
  width: 600px;
  height: 22px;
  border: 2px solid darkgreen;
  border-radius: 10%;
  margin: 0 auto;
}

#health-danger {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 20px;
  background-color: #B4003F;
}

#health {
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  height: 20px;
  background-color: #3FFF33;
}


@media screen and (max-width: 768px){
  #hardware {
    height: auto;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
  }

  #hardware img {
    display: none;
    width: 0;
    height: auto;
    border: 8px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(3, 50, 3, 0.8);
  }

  .game {
    display: none;
    position: absolute;
    top: 20px;
    left: 50px;
  }

  #openinglayout {
    position: absolute;
    top: 3%;
    left: auto;
    font-size: 3rem;
    font-weight: 500;
  }

  .introduction h1 {
    position: absolute;
    text-align: center;
    margin-top: 20vh;
    font-size: 10vh;
    color: rgba(255, 255, 255, 1);
  }

  .introduction {
    background-image: none;
    background-color: black;
    width: 100%;
    heigth: 50%;
  }

  .introduction h2 {
    text-align: center;
    margin-left: 3vw;
    padding-top: 4vh;
    color: yellow;
    letter-spacing: 0.2vw;
  }

  .introduction:hover {
    background-image: url("../img/fire.jpg")
  }

  #difficulties {
    display: block;
    margin: 0 auto;
  }

  #easy{
    font-weight: bold;
    background-color: lightgrey;
    color: black;
    width: 25%;

    margin-left: 3vw;
    margin-top: 60vh;
  }
  #normal{
    font-weight: bold;
    background-color: lightgrey;
    color: black;
    width: 25%;
    margin-top: 60vh;
    margin-left: 7vw;
  }

  #hard{
    font-weight: bold;
    background-color: lightgrey;
    color: black;
    width: 25%;
    margin-top: 60vh;
    margin-left: 7vw;
    margin-right: 3vh
  }

  .gameOver h1 {
    position: absolute;
    text-align: center;
    margin-top: 5vh;
    font-size: 15vh;
    color: rgba(255, 255, 255, 1);
  }

  .gameOver h2 {
    text-align: center;
    color: white;
    letter-spacing: 1vw;
    text-decoration: underline;
  }

  .gameOver h2 .yourscore {
    margin-top: 73vh;
    font-size: 5vh;
  }

  .gameOver h2 .topscores {
    margin-top: 78vh
    font-size: 5vh;
  }

  .gameOver ul .scores{
    list-style: none;
    font-size: 5vh;
    color: white;
  }

  .gameOver li .scores{
    list-style: none;
    font-size: 5vh;
    color: white;
  }

  #scorelayout {
    display: block;
    margin-left: 0;
  }




}
